<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mouseracer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lau"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lau"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LauchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity
            android:name=".activity.BleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PlayActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.ScanMainActivity" />
        <activity
            android:name=".activity.news.PlayActivityNew"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.news.PlayActivityNew2"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name=".nordic.ScanActivity" />
        <activity android:name=".nordic.NewPlayActivity" />
        <activity android:name=".nordic.PlayActivity"></activity>
    </application>

</manifest>